<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>View Trades</title>

    <script>
        function connect_to_stream() {
            var targetContainer = document.getElementById("progress_bar");
            var eventSource = new EventSource("/stream")
            eventSource.onmessage = function handleStream(e) {
                console.log(e);
                targetContainer.value = e.data;
                if (e.data == "100") {
                    console.log("Received 100, closing connection");
                    eventSource.close();
                }
            };
        };
    </script>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <p>Add in the table for booked trades here.</p>

    {% endblock %}
</body>

</html>
