<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Buy/Sell</title>

    <script>
        function on_cancel_trade_clicked() {
            // When trade cancelled, bring user back to ledger
            window.location.replace(window.location.origin);
        };

        function on_create_trade_clicked() {
            /*
             *  Ensure the ticket state is valid
             */
            var sell = document.getElementById("sc").value;
            if (!sell) {
                alert("Sell Currency must be selected.");
                return;
            }

            var sell_amount = document.getElementById("sell_amount").value;
            if (!sell_amount) {
                alert("The amount to sell must be a value greater than 0.");
                return;
            }

            var buy = document.getElementById("bc").value;
            if (!buy) {
                alert("Buy Currency must be selected.");
                return;
            }

            // If the above are true then the rest should be ok
            var buy_amount = document.getElementById("buy_amount").value;
            var rate = document.getElementById("ratelabel").innerText;

            payload = {
                "sell_currency": sell,
                "sell_amount": sell_amount,
                "buy_currency": buy,
                "buy_amount": buy_amount,
                // If here then we can assume rate is valid number
                "rate": parseFloat(rate),
            };
            console.log(payload)

            target = window.location.origin + "/tradeapi/trade";
            var resp = fetch(target, {
                method: "POST",
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(payload)
            })
                // Convert response to JSON
                .then(response => response.json())
                // Handle response payload
                .then(function submit_resp(resp) {
                    if (!resp["success"]) {
                        alert("Failed to submit trade.");
                    }
                    else {
                        alert("Trade successfully submitted.");
                    }
                })
                // Notify of exception
                .catch(function failed_submit() {
                    alert("Server Error: please contact support");
                })
        };

        function currency_input_changed() {
            var sell = document.getElementById("sc");
            var buy = document.getElementById("bc");

            var base = sell.value;
            var symbol = buy.value;
            // Don't do anything until we have both a Sell and Buy Currency
            if (!base || !symbol) {
                return;
            }


            var target = window.location.origin + "/rateapi/rate?base=" + base + "&symbol=" + symbol;
            // Since fetch returns a promise we will complete the second half of
            // the work in the callback
            var resp = fetch(target)
                .then(response => response.json())
                .then(function update_rate(resp) {
                    if (!resp["success"]) {
                        alert(resp);
                    }
                    var rate = resp["get_response"][symbol.toUpperCase()];

                    var label = document.getElementById("ratelabel");
                    label.innerText = rate;

                    var sell_amount = document.getElementById("sell_amount");
                    sell_amount = sell_amount.value;

                    // If the sell amount is not set do nothing. It will be
                    // updated later when a quantity is added
                    if (!sell_amount) {
                        return;
                    }

                    var buy_amount = document.getElementById("buy_amount");
                    buy_amount.value = sell_amount * parseFloat(rate);
                });
        };

        function quantity_input_changed(node) {
            var quantity = node.value;

            var buy_amount = document.getElementById("buy_amount");
            var rate = document.getElementById("ratelabel").innerText;

            if (!quantity || !rate) {
                buy_amount.value = 0;
                return
            }

            buy_amount.value = quantity * parseFloat(rate);
        }
    </script>

</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <p><strong>New Trade</strong></p>
    <hr id="hr01" />

    <table id="trade_ticket">
        <tr>
            <td>Sell Currency</td>
            <td></td>
            <td>Rate</td>
            <td></td>
            <td>Buy Currency</td>
        </tr>
        <tr>
            <td>
                <!-- Create Combobox and populate with the data provided from the flask service -->
                <select name=combo_options id="sc" method="GET" action="/" list="sell_currencies"
                    onchange="currency_input_changed()">
                    <datalist id="sell_currencies">
                        <!-- Insert an empty option as defalut selected -->
                        <option value="" SELECTED></option>
                        <!-- Manage combobox options -->
                        {% for option in combo_options %}
                        <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </datalist>
                </select>
            </td>
            <!-- |> Arrow symbol -->
            <td>&#9658;</td>
            <!-- Placeholder Label to be used to display the Rate -->
            <td id="ratelabel"></td>
            <td>&#9658;</td>
            <td>
                <select name=combo_options id="bc" method="GET" action="/" list="buy_currencies"
                    onchange="currency_input_changed()">
                    <datalist id="buy_currencies">
                        <option value="" SELECTED></option>
                        {% for option in combo_options %}
                        <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </datalist>
                </select>
            </td>
        </tr>
        <tr>
            <td>Sell Amount</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Buy Amount</td>
        </tr>
        <tr>
            <td><input type="number" id="sell_amount" onchange="quantity_input_changed(this)"></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="number" id="buy_amount" readonly></td>
        </tr>
        <tr>
            <td><button onclick="on_create_trade_clicked()" style="float: left">Create</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button onclick="on_cancel_trade_clicked()" style="float: right">Cancel</button></td>
        </tr>
    </table>

    {% endblock %}
</body>

</html>
