<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Buy/Sell</title>

    <script>
        function on_cancel_trade_clicked() {
            window.location.replace(window.location.origin);
        };
        function on_create_trade_clicked() {

        };
        function currency_input_changed() {
            var sell = document.getElementById("sc");
            var buy = document.getElementById("bc");


            var base = sell.value;
            var symbol = buy.value;
            console.log("base: " + base);
            console.log("symbol: " + symbol);
            if (!base || !symbol) {
                return;
            }

            var target = window.location.origin + "/rateapi/rate?base=" + base + "&symbol=" + symbol;
            console.log(target);
            var resp = fetch(target).then(response => response.json()).then(function update_rate(resp) {
                if (!resp["success"]) {
                    alert(resp);
                }
                console.log(resp);
                var rate = resp["get_response"][symbol.toUpperCase()];
                console.log(rate);

                var label = document.getElementById("ratelabel");
                label.innerText = rate;

                var sell_amount = document.getElementById("sell_amount");
                sell_amount = sell_amount.value;

                if (!sell_amount) {
                    return;
                }

                var buy_amount = document.getElementById("buy_amount");
                buy_amount.value = sell_amount * parseFloat(rate);
            });
        };
        function quantity_input_changed(node) {
            var quantity = node.value;
            console.log("quantity: " + quantity);

            var buy_amount = document.getElementById("buy_amount");
            var rate = document.getElementById("ratelabel").innerText;
            console.log(rate);
            if (!quantity || !rate) {
                buy_amount.value = 0;
                return
            }

            buy_amount.value = quantity * parseFloat(rate);
        }
    </script>

</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <p><strong>New Trade</strong></p>
    <hr id="hr01" />

    <table id="trade_ticket">
        <tr>
            <td>Sell Currency</td>
            <td></td>
            <td>Rate</td>
            <td></td>
            <td>Buy Currency</td>
        </tr>
        <tr>
            <td>
                <select name=combo_options id="sc" method="GET" action="/" list="sell_currencies"
                    onchange="currency_input_changed()">
                    <datalist id="sell_currencies">
                        <option value="" SELECTED></option>
                        {% for option in combo_options %}
                        <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </datalist>
                </select>
            </td>
            <td>&#9658;</td>
            <td id="ratelabel"></td>
            <td>&#9658;</td>
            <td>
                <select name=combo_options id="bc" method="GET" action="/" list="buy_currencies"
                    onchange="currency_input_changed()">
                    <datalist id="buy_currencies">
                        <option value="" SELECTED></option>
                        {% for option in combo_options %}
                        <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </datalist>
                </select>
            </td>
        </tr>
        <tr>
            <td>Sell Amount</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Buy Amount</td>
        </tr>
        <tr>
            <td><input type="number" id="sell_amount" onchange="quantity_input_changed(this)"></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="number" id="buy_amount" readonly></td>
        </tr>
        <tr>
            <td><button onclick="on_create_trade_clicked()" style="float: left">Create</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button onclick="on_cancel_trade_clicked()" style="float: right">Cancel</button></td>
        </tr>
    </table>






    {% endblock %}
</body>

</html>
